@font-face {
  font-family: 'Quicksand';
  src: url('/Quicksand-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway Light';
  src: url('/Raleway-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --accent: rgba(253, 177, 177, 1);
}

html, body {
  margin: 0px;
  overflow: auto !important;
}

.main-container {
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

.intro-container {
  scroll-snap-align: start;
  height: 100vh;
  text-align: center;

  color: white;
  font-family: 'Quicksand';

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
}

.avatar-container {
  height: 180px;
  width: 180px;
  border: 2px transparent;
  border-radius: 40px;
  background-color: var(--accent);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  height: 150px;
  width: 150px;
  border-radius: 75px;
}

.clickme{
  border: 0px;
  font-family: 'Quicksand';
  cursor: pointer;
  text-decoration: none;
}

.takemetothetop {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #ffffff;
  color: var(--accent); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 18px;
}

.sticky-navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 110px;
  z-index: 99;
  background-color: #ffffff;
  cursor: pointer; /* Add a mouse pointer on hover */
  font-size: 18px;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-avatar-container {
  height: 110px;
  width: 110px;
  background-color: var(--accent);
}

.nav-avatar {
  height: 110px;
  width: 110px;
  border-radius: 55px;
}


.skills-container {
  scroll-snap-align: start;
  height: 100vh;
  background-color: var(--accent);
}

.projects-container {
  scroll-snap-align: start;
  height: 100vh;
  background-color: white;
}

.posts-container {
  scroll-snap-align: start;
  height: 100vh;
  background-color: var(--accent)
}

.gallery-container {
  scroll-snap-align: start;
  height: 100vh;
  background-color: white;
}

.footer-container {
  scroll-snap-align: start;
  height: 30vh;
  background-color: var(--accent);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;
  font-family: 'Raleway Light';
}

.social-bar-container{
  height: 70px;
  color: white;
}

.social-bar-container img {
  height: 50px;
  margin: 5px;
  padding: 5px;
}

.footer-text {

}
